:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

.downloads {
    margin: 0 auto;
	width:fit-content;
	font-size:18px;
	padding: 20px 30px;
	background: #F0F0F0;
	border-radius: 12px;
    transition: all .1s ease-in;
}

button.group {
	height: 35px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #000000;
	background: #ffffff;
	color: #000000;
	padding: 7px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 7px;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
	font-family: helvetica, serif;
	min-width: 50px;
	text-decoration: none;
	vertical-align: middle;
	margin: 5px 0;
}

button.group:hover {
  background-color: #999;
  color: #FFF;
}

button.selected {
 background-color: #555;
 color: #FFF;
}

button#download {
    display: none;
}

button#download.active {
    display: block;
    font-weight: bold;
    padding: 12px 15px;
	height: 45px;
	font-weight: bolder;

}

button#download.active:hover {
  background-color: #999;
  color: #FFF;
}