<table><colgroup> <col style="width: 20%;" span="1" /> <col style="width: 12%;" span="1" /> <col style="width: 8%;" span="1" /> <col style="width: 8%;" span="1" /> <col style="width: 8%;" span="1" /> <col style="width: 44%;" span="1" /> </colgroup>
<thead>
<tr>
<th style="text-align: center; font-weight: bold;">Картридж</th>
<th style="text-align: center; font-weight: bold;">Внешний вид</th>
<th style="text-align: center; font-weight: bold;">Версия 3DS</th>
<th style="text-align: center; font-weight: bold;">Версия DSi</th>
<th style="text-align: center; font-weight: bold;">Версия NDS</th>
<th style="text-align: center; font-weight: bold;">Примечания</th>
</tr>
</thead>
<tbody>
<tr>
<th style="text-align: center; font-weight: bold;" colspan="6"><em>Acekard 2i</em></th>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.nds-card.com/ProShow.asp?ProID=160" target="blank">Acekard 2i</a><br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=160" target="blank">$20.99</a><br /><a href="https://www.avito.ru/moskva/igry_pristavki_i_programmy/fleshkartridzh_fleshka_acekard_2i_dlya_nintendo_ds_544116629" target="blank"><img src="/images/ru.png" /><br />₽1500</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/acekard.png"><img src="/images/flashcarts/acekard_small.png" /></a>&nbsp;<a href="/images/flashcarts/acekard2.png"><img src="/images/flashcarts/acekard2_small.png" /></a></td>
<td style="text-align: center;"><em>&le;4.3.0</em></td>
<td style="text-align: center;"><em>&le;1.4.4</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Может запускать DS-игры на взломаной приставке даже с установленным ntrboot и не требует удаления последнего.</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;">R4i Ultra</td>
<td style="text-align: center;"><a href="/images/flashcarts/ultra.png"><img src="/images/flashcarts/ultra_small.png" /></a></td>
<td style="text-align: center;"><em>&le;4.3.0</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Аппаратный клон Acekard 2i&nbsp;</td>
</tr>
<tr>
<th style="text-align: center; font-weight: bold;" colspan="6"><em>DSTT</em></th>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;">DSTT<br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=157" target="blank">$9.99</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/dstt.png"><img src="/images/flashcarts/dstt_small.png" /></a>&nbsp;<a href="/images/flashcarts/dstt2.png"><img src="/images/flashcarts/dstt2_small.png" /></a></td>
<td style="text-align: center;"><em>?</em></td>
<td style="text-align: center;"><em>?</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Только модели с определенными <a href="https://gist.github.com/Hikari-chin/6b48f1bb8dd15136403c15c39fafdb42" target="blank">чипами памяти</a> совместимы с ntrboot</td>
</tr>
<tr>
<th style="text-align: center; font-weight: bold;" colspan="6"><em>R4iSDHC family</em></th>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;">
<p><a href="http://www.r4isdhc.com" target="blank">R4iSDHC.com Dual-Core 20XX</a></p>
<p>Цена:<br /><a href="https://vk.com/market-125012133?section=album_3&w=product-125012133_1122131" target="blank"><img src="/images/ua.png" align="bottom" /><br />₴350</a><br /><a href="https://vk.com/market-125012133?section=album_3&w=product-125012133_1122131" target="blank"><img src="/images/ru.png" /><br />₽1000</a></p>
</td>
<td style="text-align: center;"><a href="/images/flashcarts/r4isdhc-dc.png"><img src="/images/flashcarts/r4isdhc-dc_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Все картриджи r4i SDHC 20XX одинаковые<br /><br />"<strong>Timebomb</strong>":<br /><strong>3.9b</strong>: 3.09.19</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.r4isdhc.com" target="blank">R4iSDHC.com Dual-Core 20XX</a><br />с установленным b9s<br />и магнитом<br /><br />Цена:<br /><a href="https://vk.com/market-125012133?section=album_3&amp;w=product-125012133_1058176" target="blank"><img src="/images/ua.png" align="bottom" /><br />₴450</a><br /><a href="https://vk.com/market-125012133?section=album_3&amp;w=product-125012133_1058176" target="blank"><img src="/images/ru.png" /><br />₽1200</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/r4isdhc-dc.png"><img src="/images/flashcarts/r4isdhc-dc_small.png" /></a><br /><strong>+ b9s</strong></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Картридж продается с предустановленным ntrboot<br /><br />"<strong>Timebomb</strong>":<br /><strong>1.87</strong>: 3.09.19</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.r4isdhc.com" target="blank">R4iSDHC.com Gold Pro RTS 20XX</a><br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=490" target="blank">$9.99</a><br /><a href="https://www.avito.ru/rostov-na-donu/igry_pristavki_i_programmy/r4i_sdhc_gold_pro_dlya_3dsds_ntrboot_991825030" target="blank"><img src="/images/ru.png" /><br />₽1150</a><br /><a href="https://www.avito.ru/moskva/igry_pristavki_i_programmy/r4i_ntrboot_kartridzh_1111381830" target="blank"><img src="/images/ru.png" /><br />₽1300</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/r4isdhc-gp.png"><img src="/images/flashcarts/r4isdhc-gp_small.png" /></a>&nbsp;<a href="/images/flashcarts/r4isdhc-gp2.png"><img src="/images/flashcarts/r4isdhc-gp2_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Все картриджи r4i SDHC 20XX одинаковые<br /><br />"<strong>Timebomb</strong>":<br /><strong>3.9b</strong>: 3.09.19</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.r4i-sdhc.com/aboute.asp" target="blank">R4i-SDHC.com 3DS RTS</a><br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=146" target="blank">$13.99</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/r4i-sdhc_rts.png"><img src="/images/flashcarts/r4i-sdhc_rts_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">"<strong>Timebomb</strong>":<br /><strong>1.87</strong>: 3.09.19</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.r4i-sdhc.com/B9SSector.asp" target="blank">R4i-SDHC.com 3DS B9S</a><br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=574" target="blank">$15.99</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/r4i-sdhc_b9s.png"><img src="/images/flashcarts/r4i-sdhc_b9s_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Картридж продается с предустановленным ntrboot<br /><br />"<strong>Timebomb</strong>":<br /><strong>1.87</strong>: 3.09.19</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://r4isdhc.com" target="blank">R4iSDHC.com RTS LITE 20XX</a><br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=450" target="blank">$13.99</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/r4isdhc-lite.png"><img src="/images/flashcarts/r4isdhc-lite_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Все картриджи r4i SDHC 20XX одинаковые<br /><br />"<strong>Timebomb</strong>":<br /><strong>3.9b</strong>: 3.09.19</td>
</tr>
<tr>
<th style="text-align: center; font-weight: bold;" colspan="6"><em>R4i Gold 3DS</em></th>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://r4ids.cn/" target="blank">R4i Gold 3DS RTS</a><br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=149" target="blank">$19.99</a><br /><a href="https://www.avito.ru/moskva/igry_pristavki_i_programmy/fleshkartridzh_r4i_gold_dlya_nintendo_ds_dsi_3ds_2ds_604415936" target="blank"><img src="/images/ru.png" /><br />₽1500</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/r4i_gold_rts.png"><img src="/images/flashcarts/r4i_gold_rts_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.r4ids.cn/" target="blank">R4 iGold 3DS Deluxe "Starter"</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/starter.png"><img src="/images/flashcarts/starter_small.png" /></a>&nbsp;<a href="/images/flashcarts/starter_b.png"><img src="/images/flashcarts/starter_b_small.png" /></a></td>
<td style="text-align: center;"><em>4.1.0 - 4.5.0</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">&nbsp;</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;">R4 3D Revolution</td>
<td style="text-align: center;"><a href="/images/flashcarts/3d_rev.png"><img src="/images/flashcarts/3d_rev_small.png" /></a></td>
<td style="text-align: center;"><em>?</em></td>
<td style="text-align: center;"><em>?</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">Аппаратный клон R4i Gold 3DS RTS ревизии HW A6</td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.r4infinity.com/" target="blank">Infinity 3 R4i</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/infinity.png"><img src="/images/flashcarts/infinity_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;">&nbsp;</td>
</tr>
<tr>
<th style="text-align: center; font-weight: bold;" colspan="6"><em>Картриджи с аппаратным переключателем</em></th>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="http://www.r4ids.cn/r4ids-e.htm" target="blank">R4i Gold 3DS Plus</a><br /><br />Цена:<br /><a href="http://www.nds-card.com/ProShow.asp?ProID=575" target="blank">$19</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/r4igold3ds+.png"><img src="/images/flashcarts/r4igold3ds+_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;"><em>Не требует перепрошивки. Для смены режима работы используйте переключатель на плате.</em></td>
</tr>
<tr>
<td style="text-align: center; font-weight: bold;"><a href="https://gbatemp.net/threads/review-ace3ds-x.487871/" target="blank">Ace3DS X</a><br /><br />Цена:<br /><a href="http://3ds-flashcard.com/home/65-ace3ds-x-supports-3dsds-mode.html" target="blank">$41</a></td>
<td style="text-align: center;"><a href="/images/flashcarts/ace3dsx.png"><img src="/images/flashcarts/ace3dsx_small.png" /></a></td>
<td style="text-align: center;"><em>&le;{% include /vars/sys_version.txt %}</em></td>
<td style="text-align: center;"><em>&le;1.4.5</em></td>
<td style="text-align: center;"><em>Все</em></td>
<td style="text-align: center;"><em>Не требует перепрошивки. Для смены режима работы используйте переключатель на плате.</em></td>
</tr>
</tbody>
</table>